#Backround {
	width: 100%;
	height: 725px;

}

#nav{
	font-size: 150%;

}

body {
	padding-top: 70px;
	height: 725px;
	width: 100%;
	position: relative;
	font-family: 'Sansita', sans-serif;
}

#carousel-generic {
	margin-top: -20px;
}

#Search {
	float: right;
}

#img1 {
	background-image: url("Dota2.jpg");
	background-size: cover;
	height: 800px;

}

#img2 {
	background-image: url("CsGo.jpg");
	background-size: cover;
	height: 800px;

}

#img3 {
	background-image: url("League of Legends.jpg");
	background-size: cover;
	height: 800px;
}

#nav {
	margin-top: 5px;
}

#Sitename {
	font-size: 600%;
	font-family: 'Kaushan Script', cursive;

}

#Gamename {
	font-family: 'Kaushan Script', cursive;
}

#Sitename2 {
	font-size: 600%;
	font-family: 'Kaushan Script', cursive;

}

#Gamename2 {
	font-family: 'Kaushan Script', cursive;
}

#Sitename3 {
	font-size: 600%;
	font-family: 'Kaushan Script', cursive;

}

#Gamename3 {
	font-family: 'Kaushan Script', cursive;
}

#placement {
	margin-top: -100px;
	margin-bottom: 100px;
}
#placement a:hover,
#placement a:focus {
	text-decoration: none;
}

a:hover,
a:focus{
	text-decoration: none;
}

#tf2 {
	background-image: url(Tf2.jpg);
	background-size: cover;
	height: 500px;
	width: 800px;
	float: left;
}

#rightsidegames {
	margin-left: 10px;
}

#dota2 {
	background-image: url(Dota2game.jpg);
	background-size: cover;
	height: 245px;
	width: 400px;
	padding-top: 150px;
}

#warframe {
	background-image: url(Warframe.jpg);
	background-size: cover;
	height: 245px;
	width: 400px;
	padding-top: 150px;
	margin-top:10px;
}

#freegames {
	font-family: 'Kaushan Script', cursive;
	font-size: 600%;
	margin-left: 560px;
	margin-top: 100px;
}

#tf2txt {
	margin-left: 270px;
	margin-top: 400px;
	font-family: 'Kaushan Script', cursive;
	color: #DEB887;
	font-size: 50px;
}

#dota2txt {
	margin-left: 130px;
	font-family: 'Kaushan Script', cursive;
	color: #DEB887;
	font-size: 50px;
}

#warframetxt {
	margin-left: 105px;
	font-family: 'Kaushan Script', cursive;
	color: #DEB887;
	font-size: 50px;
}

#morefreegames {
	font-family: 'Kaushan Script', cursive;
	margin-left: 550px;
	margin-top: -50px;
}

#newgames {
	font-family: 'Kaushan Script', cursive;
	font-size: 600%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 100px;
}

#placement {
    display: flex;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 900px;
}

.flex-item {
    width: 40%;
    height: 400px;
    margin: 10px;
    text-align: center;
    margin-top: 10px;
	font-family: 'Kaushan Script', cursive;
	font-size: 36px;
}

#newgames1{
	background-image: url(Blockhood.jpg);
	background-size: cover;
	color: #DEB887;

}

#newgames2{
	background-image: url(RenownedExplorers.jpg);
	background-size: cover;
	color: #DEB887;	
}

#newgames3{
	background-image: url(Strafe.png);
	background-size: cover;
	color: #DEB887;	
}

#newgames4{
	background-image: url(Prey.png);
	background-size: cover;
	color: #DEB887;	
}

.center{
	text-align: center;
	font-family: 'Kaushan Script', cursive;
}

.anewgames {
	width: 50%;
	height: 50%;
}

.flex-item:hover{
	text-decoration: none;
}

#popgames{
	font-family: 'Kaushan Script', cursive;
	text-align: center;
	margin-top: 100px;
	font-size: 600%;
}

#hs{
	background-image: url(Hearthstone.jpg);
	background-size: cover;
	color: #DEB887;
}

#lol{
	background-image: url(LeagueofLegends.jpg);
	background-size: cover;
	font-size: 500%;
	color: #DEB887;
}

#Overwatch{
	background-image: url(Overwatch.jpg);
	background-size: cover;
	color: #DEB887;
}

.flex-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 900px;
}

.flex-item1 {
    width: 45%;
    height: 400px;
    margin: 10px;
    text-align: center;
    margin-top: 500px;
	font-family: 'Kaushan Script', cursive;
	font-size: 36px;
}

.flex-item-lol {
    width: 91%;
    height: 91%;
    margin: 10px;
    text-align: center;
    margin-top: 10px;
	font-family: 'Kaushan Script', cursive;
	font-size: 36px;
}

#Single{
	font-family: 'Kaushan Script', cursive;
	text-align: center;
	margin-top: 500px;	
}

#Quantum{
	background-image: url(Quantum.jpg);
	background-size: cover;
	color: #DEB887;
}

#Tekken{
	background-image: url(Tekken7.jpg);
	background-size: cover;
	color: #DEB887;
}

#Witcher{
	background-image: url(Whitcher.jpg);
	background-size: cover;
	color: #DEB887;
	font-size: 500%;
}
